@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); 

:root{
    --first-text: grey;
    --secondary-text: #333;
    --third-text: #09c;
    --quarter-text: #fff;
    --fifth-text:  #2931ff;
    --rh-color: #0b0a6b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.34;
    background-color: #080f28;
}

/*  Header  */

.header{
    background-image: linear-gradient(90deg, #0f0c4a 0%, #090979 35%, #00d4ff 100%);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    width: 100%;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.ul-container{
    display: flex;
    gap: 25px;
}

.logo img{
    width: 204px;
    height: 90px;
}


.ul-container .nav-lista{
    list-style: none;
    display: inline;
    
}

.ul-container .nav-lista .nav-links{
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 0; 
    transition: border-bottom 0.5s; 
}

.ul-container .nav-links:hover{
    border-bottom: 2px solid rgb(211, 248, 2);
}



/* Menú desplegable */

#menu-toggle,
#cart-toggle,
.menu-label{
    display: none;
}


/*  Hero  */

#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

#hero .hero-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    width: 50%;
}

#hero .hero-info h1{
    font-size: 37px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--quarter-text);
}

#hero .hero-info p{
    font-size: 14px;
    width: 700;
    color: var(--first-text);
}

.hero-info p > span{
    font-weight: 800;
}

.hero-info a{
    color: var(--quarter-text);
    background: var(--third-text);
    width: 120px;
    padding: 6px 0;
    font-size: 12px;
    text-align: center;
}

#hero img{
    padding: 10px;
    background: #131930;
    box-shadow: inset 0 0 70px rgb(0 0 0 / 30%), 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 20px;
    width: 450px;
    height: 250px;
}

#hero .hero-btn{
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    gap: 20px;
}

#hero .hero-btn button{
    background: var(--quarter-text);
    color: var(--secondary-text);
    border-radius: 20px;
    border: 3px solid var(--rh-color);
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#hero .hero-btn button:hover{
    background-color: #0b0a6b;
    color: #ffffff;
    border: 3px solid #0b0a6b;
}


#hero .hero-btn .active{
    color: var(--quarter-text);
    background: var(--rh-color);
    opacity: 1;
    transition: all 0.3s ease-out;;
}

#hero .hero-btn .active:hover{
    background-color: #ffffff;
    color: #000;
    border: 3px solid var(--fifth-text);
}


/*  Info  */

#info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    text-align: center;
    width: 50%;
    margin: 3rem auto;
    font-size: .875rem;
    color: var(--first-text);
}

#info .info-title {
    color: var(--quarter-text);
    text-align: center;
}

/* advantage */

#advantages{
    display: grid;
    place-items: center;
    background-color: #e5e5f7;
    background-image: radial-gradient(#000dff 0.5px, transparent 0.5px), radial-gradient(#000dff 0.5px, #000000 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    max-width: 1200px;
    margin: 65px auto;
    border-radius: 7px;
}

#advantages .advantages-title{
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

#advantages .advantages-title span{
    font-weight: 600;
    font-size: 25px;

}

#advantages .advantages-title .mt-2 {
    margin-top: 4rem;
    font-size: 15px;
    color: gray;
}

.advantages-container{
   display: flex;
   text-align: center;
   max-width: 1200px;
   gap: 100px;
   color: grey;
   height: 500px;
}

.container-advantages{
    display: grid;
    gap: 20px;
}

.ms-3{
    margin-top: 100px;
}










    
 
