@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); 

:root{
    --first-text: grey;
    --secondary-text: #333;
    --third-text: #09c;
    --quarter-text: #fff;
    --fifth-text:  #2931ff;
    --rh-color: #0b0a6b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #080f28;
}

/* Header */

#header{
    height: 80px;
    width: 100%;
    padding: 0 50px;
    background-image: linear-gradient(90deg, #0f0c4a 0%, #090979 35%, #00d4ff 100%);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#header img{
    width: 204px;
    height: 90px;
}

/* Menú desplegable */
#menu-toggle,
#cart-toggle,
.menu-label{
    display: none;
}

ul{
    display: flex;
    list-style: none;
    gap: 50px;
}


.navbar-link{
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    padding: 0 5px;
    transition: all .25s ease-out;
}

ul .navbar-link:hover{
    color: #ffde00;
}

ul .navbar-link::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 247, 0);
    visibility: hidden;
    transition: all 0.3s;
}

ul .navbar-link:hover::before{
    visibility: visible;
    width: 100%;
    animation: dibujarLinea 0.3s;
}

/*main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*HERO*/

#hero{
    display: flex;
    margin: 60px;
    padding: 70px 0;
    width: 80%;
    justify-content: space-around;
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero-info h1{
    font-weight: 700;
    font-size: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    color: #afa600;
}

.hero-info h1 > span{
    animation: appear 1s ease-in-out forwards;
    visibility: hidden;
}

.hero-info p{
    font-weight: 300;
    font-size: 14px;
    max-width: 350px;
    color: #fff;
}

.hero-info p > span{
    font-weight: 800;
}

.button-container{
    display: flex;
    gap: 15px;
}

.button-container a{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
}

.primary-btn{
    background-color: black;
    color: white;
}

.alt-btn{
    background-color: white;
    color: black;
}

#hero img{
    padding: 5px;
    background: #131930;
    box-shadow: inset 0 0 70px rgb(0 0 0 / 30%), 0 0 20px rgb(0 0 0 / 50%);
    border-radius: 20px;
    width: 450px;
    height: 350px;
}

/*ABOUT*/
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 850px;
    padding: 30px 0px;
    font-weight: 300;
    text-align: center;
    color: white;
}

#about span{
    color: #afa600;
    font-weight: bold;
    font-size: 20px;
}

/*CARDS*/
#cards-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 70px 0px;
    width: 95%;
}

#cards-section h2{
    color: #afa600;
}

#cards-section p{
    color: white;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    color: white;
}

.card i{
    font-size: 50px;
}

.card h3{
    font-size: 20px;
    color: #afa600;
}

/*CONTACTO*/
#contact{
    display: flex;
    padding: 70px 30px;
    width: 100%;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
    gap: 50px;
}

.black-bg{
    background-color: black;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.contact-info-container{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.info-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-column h3{
    font-size: 24px;
}

.info-column p, .info-column a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-column a{
    text-decoration: none;
    color: white;
}

iframe{
    height: 350px;
    width: 400px;
}

.icon-img{
    width: 44px;
}

/*LINE-TOP*/
.top{
    border: 1px solid#edb709;
    width: 100%;
}

/*FOOTER*/

footer{
    color: white;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    font-size: 20px;
}